$form-border-color: white;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: 23px;
$form-font-family: UniversLTPro-45Light;

fieldset {
  background: none;
  border: 1px solid $base-border-color;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  background: none;
  font-family: $form-font-family;
  font-size: $form-font-size;
  color: $black;

  &:focus {
    border-color: $black;
    box-shadow: none;
    outline: none;
  }

}

label {
font-family: UniversLTPro-45Light;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: none;
  border-radius: 0;
  border: 1px solid $form-border-color;
  box-shadow: none;
  font-family: UniversLTPro-45Light;
  font-size: $form-font-size;
  margin-bottom: $base-line-height / 2;
  padding: ($base-line-height / 3) ($base-line-height / 3);
  width: 100%;

  &:hover {
    border-color: white;
  }

  &:focus {
    border-color: $black;
    box-shadow: none;
    outline: none;
  }
}

textarea {
  resize: vertical;
  background-color: none;
  border: 1px solid white; background:none;

}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}



/*  ——————————————————————— */
form p, form label {
  font-size:23px;
  color: $black;
}

.fLeft {
  float: left;
}

#c1, #c2 {
  margin-right:10px;
  margin-top:8px;
}

.check {
  float:left;margin-left:-20px;margin-top:5px;
}

.input-text {
  border:1px solid white;
  padding-top:8px;
  padding-bottom:9px;
  padding-left:10px;
  padding-right:10px;
}

.yourDetails {
  margin-top:50px;
  line-height:0em;
  p {
    margin-bottom: 20px;
  }

  input {
    font-size:18px;
    padding-left:0;
    margin:0;
    border:0;
    border-bottom: 1px solid white;
    width:60%;
  }

  .butt{
    width:15%;
    border-radius: 0;
    padding-left:0px;
    padding-right:0px;
    border:0;
    background:white;
    margin-top:30px;
    padding-top:10px;
    padding-bottom:10px;
    text-shadow:none;

  }
}
